/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.centered { 
    display: flex;
    justify-content: center;;
}

.selection-buttons {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.tile-group {
    padding: 2rem 0;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    .tile {
        color: white;
        background-color: blue;
        padding: 1rem;
        border: 1px solid white;
        margin: 1rem;
        display: inline-block;
        width: 4rem;
        height: 4rem;
        text-align: center;
    }

    .target-tile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16rem !important;
        height: 6rem !important;
        font-size: 4rem;
    }
}