<div>
  <strong>Letters Round</strong>
</div>
<div *ngIf="phase=='letterSelection'">
  <!-- letterSelection phase - player chooses -->
  <div class="selection-buttons">
    <p>Please select {{ (MAX_LETTERS - lettersList.length) }} more letter(s)</p>
    <ion-button (click)="selectConsonant()" [disabled]="consonantButtonDisabled">Consonant</ion-button>
    <ion-button (click)="selectVowel()" [disabled]="vowelButtonDisabled">Vowel</ion-button>
  </div>
</div>
<div class="tile-group" *ngIf="phase === 'selection' || phase === 'entry'">
  <span class="tile" *ngFor="let letter of lettersList">
    <strong>
      {{letter}}
    </strong>
  </span>
</div>
<div *ngIf="phase=='entry'">
  <!-- entry phase - player enters words based on letters -->
  
  <p>{{timer}}</p>
  <ion-input id="word" fill="outline" placeholder="Enter a word" (keyup.enter)="submitWord()"></ion-input>
  <ion-button (click)="submitWord()">Submit</ion-button>

  <div>
    Entered words
    <ul>
      <li *ngFor="let word of wordlist">{{word}}</li>
    </ul>
  </div>
</div>
<div *ngIf="phase=='finalSubmission'">

</div>
<div>

</div>

<ion-toast [isOpen]="isToastOpen" position="bottom" positionAnchor="footer" [message]="errorMessage" [duration]="5000"
  (didDismiss)="setOpen(false)"></ion-toast>