<div>
  <strong>Numbers Round</strong>
</div>
<div *ngIf="phase== Phases.NUMBER_SELECTION">
  <!-- numberSelection phase - player chooses -->
  <div class="selection-buttons">
    <p>How many large numbers would you like?</p>
    <div class="centered">
      <ion-button *ngFor="let number of numberButtonArray" (click)="selectLargeNumbersCount(number)"> {{number}}
      </ion-button>
    </div>
  </div>
</div>
<div class="tile-group" *ngIf="phase !== Phases.NUMBER_SELECTION">
  <span class="tile target-tile">
    <strong>
      {{targetNumber}}
    </strong>
  </span>
</div>
<div class="tile-group" *ngIf="phase !== Phases.NUMBER_SELECTION">
  <span class="tile" *ngFor="let number of numberList" (click)="selectNumber(number)">
    <strong>
      {{number}}
    </strong>
  </span>
</div>
<!-- <div class="tile-group" *ngIf="phase !== Phases.NUMBER_SELECTION">
  <span class="tile">
    <strong>+</strong>
  </span>
  <span class="tile">
    <strong>-</strong>
  </span>
  <span class="tile">
    <strong>x</strong>
  </span>
  <span class="tile">
    <strong>÷</strong>
  </span>
</div> -->
<div *ngIf="phase === Phases.ENTRY">
  <!-- entry phase - player enters words based on letters -->
  <p>Time left: {{timer}} second<span *ngIf="timer !== 1">s</span></p>
  <ion-input id="equation" autofocus="true" fill="outline" placeholder="Enter an equation"
    (keyup.enter)="submitEquation()"></ion-input>
  <ion-button (click)="submitEquation()">Submit</ion-button>

  <div>
    <p>Submitted equations</p>
    <ul>
      <li *ngFor="let eq of equationList">{{eq}}</li>
    </ul>
  </div>
</div>
<div *ngIf="phase === Phases.FINAL_SUBMISSION">
  <div>
    <p>Select the equation you would like to submit</p>
    <ion-button *ngFor="let eq of equationList" (click)="selectEquation(eq)">{{eq}}</ion-button>
  </div>
</div>
<div *ngIf="phase === Phases.SCORE">
  <p>{{ finalMessage }}</p>

  <ion-button (click)="replay(true)">Play again</ion-button>

</div>
<ion-toast [isOpen]="isToastOpen" position="bottom" positionAnchor="footer" [message]="errorMessage" [duration]="1000"
  (didDismiss)="setOpen(false)"></ion-toast>